:root {
    --cor-um: rgb(2, 104, 116);
    --cor-dois: #03A688;
    --cor-tres: #011F26;
    --cor-quatro: #F2668B; 
}

/*     GLOBAL       */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'nunito';
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
}



/*  /////////// HOME ///////////   */

.header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* position: fixed; */
    background-color: white;
    
}

.logo {
    width: 0;
    color: black;
    font-size:2em;
    margin: 1em 0  1em 3em ;
    font-family: 'cascadia code';
    user-select: none;
    animation: typing 1s steps(10) 1s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width:5.9em;
    }
}

#UnderLine {
    color: black;
    margin: 0;
    font-size: 2.5em;
    animation: UnderLine 700ms linear infinite;
}

@keyframes UnderLine {  /* animação underline - logo*/
    0% {opacity: 0;}
    80%{opacity: 1;}
    100% {opacity: 0.1;}
}

.home .content {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.home h1 {
    font-size: 3em;
    color: var(--cor-um);
    margin: 4em 2em;
    transition-duration: 200ms;
    user-select: none;
}

.home h1:hover {
    transform: scale(1.1);
    cursor:default;
}

#rosa {
    color: var(--cor-quatro)
}



/* .noDragabble {
    -webkit-user-drag: none;
} */


#programming-ico {
    position:static;
    width: 20em;
    margin-bottom: 5em;
    margin-right: 10em;
    -webkit-mask-image: url(images/programming.svg);
    mask-image: url(images/programming.svg);
    mask-repeat: no-repeat;
    mask-size: 20em;
    -webkit-user-drag: none;
    mask-border-slice: none;
    user-select: none;

}

#imagem {
    -webkit-user-drag: none;
}
/*  ////////APRESENTACAO ////////////    */

.gridInscricao{
    background: url(images/4q1wb787.bmp);
    background-size:cover;
    background-repeat: no-repeat;
    padding:10em 0;
    background-attachment: fixed ;
    
}

.gridInscricao .container {
    overflow: hidden;
    width: 60%;
    max-width: 900px;
    margin: auto;
    border-radius: 0.7em;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.137);
}

.introducao {
    padding: 3em;
    background-color: white;
}

.introducao h1 {
    margin-bottom: 1.5em;
    font-weight: 700;
    color: var(--cor-dois);
    font-size: 1.8em;
}

.introducao h2 {
    color: var(--cor-quatro);
    margin-bottom: 1em;
}

.introducao p {
    margin: 0.3em 0;
    color: var(--cor-um);
}


/*          //////////        */
.subSessao {
    color: white;
    display: flex;
}
/*        //////////         */


/*         MENSALIDADE           */

.mensalidade {
    width: 50%;
    background-color: var(--cor-um);
    padding: 3em;
    color: white;
    display: inline-block;
}

.mensalidade h2 {
    margin-bottom: 1.5em;
    
}

.mensalidade h1 {
    font-size: 2.3em;
    color: white;
    margin-right: 0.5em;
}

.mensalidade span {
    display: flex;
    color: #03A688;
    align-items: center;
}

.mensalidade p {
    font-size: 0.9em;
    margin: 1.3em 0 3em 0;
    color: rgb(231, 231, 231);
}

.mensalidade #btInscrevase {
    width: 100%;
    font-size: 1em;
    padding: 1em;
    color: white;
    border-radius: 0.3em;
    border: 0;
    background-color: #F2668B;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.137);
    transition-duration: 200ms;
    cursor: pointer;
}

.mensalidade #btInscrevase:hover {
    transform: scale(1.07);
}

.mensalidade #btInscrevase:active {
    transform: scale(1);
    background-color: #f15680;
}

/*           PORQUE NÓS           */

.porqueNos {
    width: 50%;
    background-color: var(--cor-dois);
    padding: 3em;
    color: white;
    display: inline-block;
}

.porqueNos h2 {
    margin-bottom: 1.5em;
}

.porqueNos p {
    color: rgb(235, 233, 233);
    margin: 0.3em 0;
}





/* ///////////// FOOTER ////////// */

footer {
    padding: 1em;
    font-size: 0.9em;
    background-color: #011F26;
    color: whitesmoke;
}

footer span {
    display: flex;
    justify-content: center;
    
}

footer #email-ico{
    width: 1.2em;
}

footer #phone-ico{
    width: 0.9em;
}
